h1
{
	font-weight: bold;
	font-size: 40px;
}
table 
{
	font-size: 22px;
}
.profile-image {
 background-image: url('https://png.pngtree.com/thumb_back/fw800/20160726/pngtree-Sky-Atmosphere-Clouds-Weather-background-photo-385478.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-blend-mode: lighten;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 45%;
  padding: 10px;
}
.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}